.container{
    height: 500px;
}

.carousel img {
    width: 400px;
    height: 300px;

}

.carousel-img-1 {
    background: url("../../../images/carousel-1.png");
    background-size: cover; }
  
  .carousel-img-2 {
    background: url("../../../images/carousel-2.png");
    background-size: cover; }
  
  .carousel-img-3 {
    background: url("../../../images/carousel-3.png");
    background-size: cover; }